#start {
    display: flex;
    position: absolute;
    width: 130px;
    height: 30px;
    left: 135px;
    top: 335px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    box-sizing: border-box;
    transition: 1s;
    /* border: 0px solid gold; */
    font-family: 'Gran Torino 3D', sans-serif;
    font-size: 20px;
    /* font: 20px 'Gran Torino 3D', sans-serif; */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px violet,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px violet,
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
}

#start:hover {
    width: 173px;
    height: 40px;
    left: 114px;
    top: 330px;
    font-family: 'Gran Torino Title', sans-serif;
    font-size: 25px;
    /* font: 40px Arial, sans-serif; */
    /* box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.24), -20px -20px 20px 0 rgba(0,0,0,0.19), -20px 20px 20px 0 rgba(0,0,0,0.19), 20px -20px 20px 0 rgba(0,0,0,0.19); */
    transition: 1s;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px violet,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px violet,
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
}

#start:active {
    /* display: none; */
    width: 60px;
    height: 14px;
    left: 170px;
    top: 343px;
    font-size: 9px;
    /* font: 0px Arial, sans-serif; */
    transition: 0.2s;
}

#btnReset {
    display: flex;
    position: absolute;
    width: 140px;
    height: 70px;
    left: 30px;
    top: 770px;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    /* font: 25px Arial, sans-serif; */
    box-sizing: border-box;
    font-family: 'Gran Torino Title', sans-serif;
    font-size: 20px;
    color: red;
    text-shadow: red 0 0 10px;
}

#btnReset:hover {
    width: 160px;
    height: 80px;
    left: 20px;
    top: 765px;
    background-color: white;
    transition: 0.2s;
    font-size: 24px;
    font-family: 'Gran Torino 3D', sans-serif;
}

#btnPause {
    display: flex;
    position: absolute;
    width: 140px;
    height: 70px;
    left: 230px;
    top: 770px;
    /* background-color: blanchedalmond; */
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    /* font: 25px Arial, sans-serif; */
    font-family: 'Gran Torino Title', sans-serif;
    font-size: 20px;
    text-shadow: green 0 0 10px;
}

#btnPause:hover {
    width: 160px;
    height: 80px;
    left: 220px;
    top: 765px;
    background-color: white;
    transition: 0.2s;
    font-size: 24px;
    font-family: 'Gran Torino 3D', sans-serif;
}