body {
    display: flex;
    justify-content: center;
    opacity: 0.9;
    background-image: radial-gradient(#353762 0.65px, #e5e5f7 0.65px);
    background-size: 13px 13px;
}

#board {
    display: flex;
    position: relative;
    /*text-align: center;
    justify-content: center;*/
    margin-top: 30px;
    /*width: 470px;
    height: 704px;
    min-width: 266px;
    min-height: 400px;*/
    background-color: rgb(13, 2, 2);/*navy;*/
    border: 10px solid black;
    box-shadow: inset 0 0 18px #fff,
            inset 6px 0 18px violet,
            inset -6px 0 18px #0ff,
            inset 6px 0 30px violet,
            inset -6px 0 30px #0ff,
            0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
    /* border-radius: 60px; */
    /* cursor: none; */
}

.paddle {
    position: absolute;
    background-color: green;
    /*width: 250px;
    height: 30px;*/
    border: 2px solid yellow;
    border-radius: 50px;
    box-shadow: inset 0 0 18px #fff,
            inset 6px 0 18px violet,
            inset -6px 0 18px #0ff,
            inset 6px 0 30px violet,
            inset -6px 0 30px #0ff,
            0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
}

#player-paddle {
    /*align-self: flex-end;*/
    /*left: calc(50% - 125px);*/
}

#enemy-paddle {
    /*align-self: flex-start;*/
    /*top: calc(10% - 30px);*/
    /*left: calc(50% - 125px);*/
}

.ball {
    position: absolute;
    /*height: 30px;
    width: 30px;*/
    /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(95, 122, 154, 1) 100%); */
    border-radius: 50%;
    /*top: calc(50% - 15px);
    left: calc(50% - 15px);*/
}

#scoreBoard {
    position: absolute;
    display: flex;
    /* background-color: #000000; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='12' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    /* background: radial-gradient(circle, rgba(79,150,233,1) 0%, rgba(0,0,192,1) 100%); rgb(0, 0, 192); */
    color: azure;
    /* background: linear-gradient(0deg, rgba(192,192,192,1) 25%, rgba(209,13,13,1) 100%); */
    box-sizing: border-box;
    text-align: center;
    /* font-weight: 50; */
    border-radius: 50%;
    border: 2px solid silver;
    /* box-shadow: inset 0px 0px 70px 5px silver; */
    font: 100px Arial, sans-serif;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

#scoreBoard > * {
    /* position: absolute; */
    /* border: 5px red; PREGUNTAR PORQUÉ NO SE VISUALIZA */
    /* margin: 0 50px; */
}

.noShowSB {
    display: none;
}

.showSB {
    transition: 1.5s
}