body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    width: 60vh;
    height: 90vh;
    min-width: 266px;
    min-height: 400px;
    background-color: navy;
    border-radius: 60px;
}

.paddle {
    background-color: green;
    width: 250px;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 50px;
    position: absolute;
}

#player-paddle {
    align-self: flex-end;
    top: calc(90% - 0px);
    left: calc(50% - 125px);
}

#enemy-paddle {
    align-self: flex-start;
    top: calc(10% - 30px);
    left: calc(50% - 125px);
}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 0.1s linear infinite;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px violet,
        inset -6px 0 18px #0ff,
        inset 6px 0 30px violet,
        inset -6px 0 30px #0ff,
        0 0 18px #fff, -4px 0 18px violet, 4px 0 18px #0ff;
}

.brilli-brilli {
    box-shadow: inset 0 0 18px #fff,
            inset -6px 0 18px #f3bad6,
            inset 6px 0 18px #0ff,
            inset -6px 0 30px #f3bad6,
            inset 6px 0 30px #0ff,
            0 0 18px #fff, 4px 0 18px #f3bad6, -4px 0 18px #0ff;
}