body {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    position: relative;
    /*text-align: center;
    justify-content: center;*/
    margin-top: 30px;
    width: 470px;
    height: 704px;
    /*min-width: 266px;
    min-height: 400px;*/
    background-color: navy;
    border: 15px solid black;
    /*border-radius: 60px;*/
}

.paddle {
    background-color: green;
    width: 250px;
    height: 30px;
    border: 2px solid yellow;
    border-radius: 50px;
    position: absolute;
}

#player-paddle {
    /*align-self: flex-end;*/
    top: calc(90% - 0px);
    /*left: calc(50% - 125px);*/
}

#enemy-paddle {
    /*align-self: flex-start;*/
    top: calc(10% - 30px);
    left: calc(50% - 125px);
}

.ball {
    height: 30px;
    width: 30px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(95, 122, 154, 1) 100%);
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

